* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-left: 500px;
}

.container {
  width: 500px;
  height: 300px;
  border: solid 2px steelblue;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

h1 {
  margin: 20px;
  padding: 5px;
  background-color: rgb(9, 16, 207);
  color: antiquewhite;
}

h2 {
  margin: 20px;
}

.btn {
  margin: 5px;
  background-color: rgb(56, 204, 56);
  color: black;
  padding: 5px;
  border: none;
}

.btn2 {
  margin: 5px;
  background-color: rgb(207, 51, 51);
  color: black;
  padding: 5px;
  border: none;
}

.btn3 {
  margin: 5px;
  background-color: rgb(145, 132, 132);
  color: black;
  padding: 5px;
  border: none;
}